
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    font-family: "VT323", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    overflow: hidden;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: black;
    height: 100%;
    width: 100%;
}

button {
    padding: 0;
    margin: 0; 
    border: none;
    font: unset;
    padding-inline: 0;
}
